In [1]:
import pandas as pd
df = pd.read_csv('credit_data.csv')

In [2]:
df.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [3]:
df = df.dropna()

In [4]:
df.shape

(1997, 5)

In [5]:
x_credit = df[['income','age','loan']]
y_credit = df['default']

In [6]:
from sklearn.preprocessing import StandardScaler
standar_scaler = StandardScaler()
x_credit = standar_scaler.fit_transform(x_credit)

In [7]:
x_credit

array([[ 1.45389775,  1.33686061,  1.20190707],
       [-0.76239757,  0.53663921,  0.69574418],
       [ 0.8367328 ,  1.63720692,  1.17381186],
       ...,
       [-0.07139   , -0.93901609,  0.35367319],
       [-0.11017022,  1.7006195 , -0.92670314],
       [ 1.68296904,  1.12656872,  0.96300639]])

In [9]:
from sklearn.model_selection import train_test_split
x_credit_treinamento, x_credit_teste, y_credit_treinamento, y_credit_teste = train_test_split(x_credit, test_size=0.25, random_state=0)

ValueError: not enough values to unpack (expected 4, got 2)

In [12]:
x_credit_treinamento.shape

NameError: name 'x_credit_treinamento' is not defined

In [14]:
y_credit_treinamento.shape

NameError: name 'y_credit_treinamento' is not defined

In [13]:
x_credit_teste.shape, y_credit_teste.shape

NameError: name 'x_credit_teste' is not defined

In [15]:
from sklearn.neural_network import MLPClassifier
rede_neural_credit = MLPClassifier(verbose= True)
rede_neural_credit.fit(x_credit_treinamento, y_credit_treinamento)

NameError: name 'x_credit_treinamento' is not defined